name: Manual Rollback

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Enter image tag to rollback"
        required: true

jobs:
  rollback:
    if: github.ref == 'refs/heads/main'
    runs-on: self-hosted
    steps:
      - name: Rollback main
        run: |

          BASE_PATH=/srv/toychat
          BRANCH_NAME="${GITHUB_REF##*/}"
          COMPOSE=$BASE_PATH/$BRANCH_NAME/docker/docker-compose.yml
          echo "Rolling back service $BRANCH_NAME"
          
          GITHUB_USER=${{ github.actor }}
          GHCR_TOKEN=${{ secrets.GHCR_TOKEN }}
          GHCR_USER=$(echo "${{ github.actor }}" | tr '[:upper:]' '[:lower:]')

          IMAGE_BASE=ghcr.io/${GHCR_USER}/toychat-main
          LATEST=latest
          INPUT_TAG=${{ github.event.inputs.tag }}
          echo "$INPUT_TAG"
          cd $BASE_PATH/$BRANCH_NAME/docker
          
          echo $GHCR_TOKEN | docker login ghcr.io -u $GHCR_USER --password-stdin
          docker pull $IMAGE_BASE:$INPUT_TAG
          
          docker tag $IMAGE_BASE:$INPUT_TAG $IMAGE_BASE:$LATEST
          docker push $IMAGE_BASE:$LATEST
          docker compose -f $COMPOSE up -d --build
          
          echo "Restarting service $BRANCH_NAME"
          
          
  notice:
    if: always()
    needs: [rollback]
    uses: ./.github/workflows/slack-notice.yml
    with:
      status: ${{ needs.rollback.result }}
      workflow_name: "${{ github.workflow }} ${{  github.ref_name }}"
    secrets: inherit
